mat-card {
    margin-bottom: 20px;
}

.post-content {
    margin-top: 10px;
}

.full-width-image {
    width: 100%;
}

// .mat-card-content {
//   margin-bottom: 20px; /* ou une valeur appropriée */
// }

/* ou si vous voulez appliquer cela à tous les éléments avec une classe spécifique */
// .card-with-overflow {
//   margin-bottom: 20px; /* ou une valeur appropriée */
// }

// mat-card {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }

